<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>1</ApplicationRevision>
    <ApplicationVersion>2.0.1.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <ErrorReportUrl>https://github.com/Darkminded/Elite-Log-Agent/issues</ErrorReportUrl>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>C72785647731AE254552E46A24E26B48282A62EB</ManifestCertificateThumbprint>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>x64</Platform>
    <ProductName>Elite Log Agent</ProductName>
    <PublishDir>bin\Release\net10.0-windows10.0.17763.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>D:\nanjos\Desktop\EDLA\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SupportUrl>https://github.com/Darkminded/Elite-Log-Agent/issues</SupportUrl>
    <TargetCulture>en-US</TargetCulture>
    <TargetFramework>net10.0-windows10.0.17763.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <MinimumRequiredVersion>2.0.1.0</MinimumRequiredVersion>
    <SkipPublishVerification>false</SkipPublishVerification>
    <ManifestKeyFile>EliteLogAgent_TemporaryKey.pfx</ManifestKeyFile>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <PublisherName>CMDR DarkMinded</PublisherName>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SuiteName>EliteLogAgent</SuiteName>
    <UseApplicationTrust>False</UseApplicationTrust>
    <ExcludeDeploymentUrl>False</ExcludeDeploymentUrl>
    <BootstrapperComponentsLocation>Relative</BootstrapperComponentsLocation>
    <BootstrapperComponentsUrl>D:\nanjos\Desktop\EDLA\</BootstrapperComponentsUrl>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Resources\elite-dangerous-icon.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\elite-dangerous-icon.png">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>